<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
  Name: <input type="text" name="name"><br>
  eMail: <input type="email" name="email"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" id="submit" value="Sign Up">
</form>
